<div class="clear"></div>

<!-- <div class="menu_item"><a href="/essays.html">Essays</a></div>
<div class="clear"></div> -->

<div class="menu_item"><a href="/">About</a></div>
<div class="clear"></div>
<div class="menu_item"><a href="/blog">Blog</a></div>
<div class="clear"></div>
<div class="menu_item"><a href="/projects">Projects</a></div>
<div class="clear"></div>
<div class="menu_item"><a href="/tools">My Tools</a></div>
<div class="clear"></div>
<div class="menu_item"><a href="/work">Work</a></div>
<div class="clear"></div>
<div class="menu_item"><a href="/contact">Contact</a></div>